In [2]:
class myclass:
    a = 15
    print("hello pratik",a)

hello pratik 15

In [3]:
p1 = myclass()
print(p1.a)

15

In [5]:
y=myclass()
print(y.a)
print(type(y))

15
<class '__main__.myclass'>

In [7]:
class students:
    print("hello Amit")

z=students()
print(type(z))

hello Amit
<class '__main__.students'>

In [10]:
class student:
    year=2021
    def func(self):
        print("hello,welome to ocac",self.year)
x = student()
x.func()

hello,welome to ocac 2021

In [11]:
student,func()

NameError: name 'func' is not defined

In [13]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("hello my name is " + self.name)

p1 = person("pratik",36)
p1.myfunc()

hello my name is pratik

In [14]:
class student:
    def __init__(self,name):
        self.name = name

elon = student(name="Pratik Swain!")
print(elon.name)

Pratik Swain!

In [15]:
class student:
    def __init__(self,name):
        self.name = name

elon = student(name="Pratik Swain!")
champ = student(name="Aryan Das!")

print(elon.name)
print(champ.name)

Pratik Swain!
Aryan Das!

In [4]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

p1 =person("pratik",21)
print(p1.name)
print(p1.age)

pratik
21

In [10]:
class Student:
    Total = 500
    
    def __init__(self, marks):
        self.marks = marks
        print("Initialized...")
        
    def findLoss(self):
        return self.Total - self.marks
        
    def findPercentage(self):
        return (self.marks / self.Total)

In [14]:
a = Student(marks=462)
print("Total Marks:", a.Total)
print('Lost Marks:', a.findLoss())
print('Percentage is:', a.findPercentage())
print('Percentage is: {:.2f}%'.format(a.findPercentage()))

Initialized...
Total Marks: 500
Lost Marks: 38
Percentage is: 0.924
Percentage is: 0.92%

In [16]:
def __init__(self, marks):
    self.marks = marks
    print("Initialized...")

In [18]:
class Student:
    def __init__(self, marks):
        self.marks = marks
        print("Initialized...")

In [28]:
class Student:
    Total = 500
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
    def __len__(self):
        return self.marks
    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender)
    def __del__(self):
        print("Student Database is Deleted")

In [30]:
a = Student('pratik', '450', 'male')
b = Student('aryan', 456, 'male')

Initialized...
Student Database is Deleted
Initialized...
Student Database is Deleted

print(b)

In [32]:
print('Marks: ',len(a))
del a

TypeError: 'str' object cannot be interpreted as an integer

In [34]:
print(a)

Name: pratik | Marks: 450 | Gender: male

In [36]:
class Student:
    Total = 500
    
    def __init__(a,marks):
        a.marks=marks
        print("Initialized...")
    def mul(self):
        return self.marks * self.Total
p1 = Student(300)
p1.mul()

Initialized...

150000

In [40]:
class Student:
    Total = 500
    def __init__(self, name, marks,gender):
        self.name=name
        self.marks=marks
        self.gender=gender
        print("Initialized...")
        
    def __len__(b):
        return b.marks
a = Student('diljit', 450, 'male')
print(a)
print('Marks: ',len(a))

Initialized...
<__main__.Student object at 0x0000029CF97C68D0>
Marks:  450

In [44]:
def __init__(self, name, marks, gender):
    self.name = name
    self.marks = marks
    self.gender = gender
    print("Initialized...")

In [46]:
def __len__(self):
    return self.marks

In [54]:
def __str__(self):
return "Name: %s | Marks: %s | Gender: %s" % (self.name, self.marks,self.gender)

IndentationError: expected an indented block after function definition on line 1 (2454359991.py, line 2)

In [3]:
def __del__(self):
    print("Student Database is Deleted")

In [7]:
a = Student('champ', 450, 'male')
print(a)

NameError: name 'Student' is not defined

In [9]:
print('Marks: ', len(a))

NameError: name 'a' is not defined

In [11]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
        
    def myfunc(abc):
        print("Hello my name is " + abc.name, + abc.age )
        
p1 = Person("John", 36)
p1.myfunc()

Hello my name is John 36

In [13]:
p1.age = 40
p1.myfunc()

Hello my name is John 40

In [15]:
del p1.age
p1.myfunc()

AttributeError: 'Person' object has no attribute 'age'

In [17]:
del p1
p1.myfunc()

NameError: name 'p1' is not defined

In [19]:
class Person:
pass

IndentationError: expected an indented block after class definition on line 1 (2495997816.py, line 2)

In [21]:
class Person:

SyntaxError: incomplete input (3523702532.py, line 1)

In [25]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
        
x = Person("pratik", "ayan")
x.printname()

pratik ayan

In [51]:
class Student(Person):
    pass

In [53]:
x = Student("Ritik", "Pratik")
x.printname()

Ritik Pratik

In [55]:
class Student(Person):
    def __init__(self, fname, lname):
        pass

In [57]:
class Student(Person):
    def __init__(self, fname, lname):
        Person.__init__(self, fname, lname)
        x = Student("ritik", "pratik")
x.printname()

Ritik Pratik

In [59]:
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)

In [63]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2019
        
x = Student("Pratik", "Suman")
print(x.graduationyear)
x.printname()

2019
Pratik Suman

In [65]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year
        
x = Student("Naruto", "Sakura", 2019)
print(x.graduationyear)

2019

In [73]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduationyear = year

    def welcome(self):
        print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)
          
x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

In [76]:
class Elon:
    def __init__(self):
        print("Profile created")
        
    def name(self):
        print("Elon Musk")
    def age(self):
        print("40")

In [78]:
class SpaceX(Elon):
    def __init__(self):
        super().__init__()
        print("Company Profile created")
    def name(self):
        print("SpaceX")
    def type(self):
        print("Private Space travel")

In [80]:
spacex_profile = SpaceX()

Profile created
Company Profile created

In [82]:
spacex_profile.name()
spacex_profile.age()
spacex_profile.type()

SpaceX
40
Private Space travel

In [84]:
a = SpaceX()

Profile created
Company Profile created

In [86]:
class Elon:
    def __init__(self):
        print("Profile created")
    def name(self):
        print("Elon Musk")
    def age(self):
        print("40")

In [88]:
class SpaceX(Elon):
    def __init__(self):
        super().__init__()
        
        print("Company Profile created")
    def name(self):
        print("SpaceX")
    def type(self):
        print("Private Space travel")

In [90]:
class Elon:
    def __init__(self):
        print("Profile created")
    def name(self):
        print("Elon Musk")
    def age(self):
        print("40")
class SpaceX(Elon):
    def __init__(self):
        super().__init__() 

        print("Company Profile created")
    def name(self):
        print("SpaceX")
    def type(self):
        print("Private Space travel")

In [92]:
class Elon:
    def __init__(self, name):
        self.name = name
    def type(self):
        return "Entrepreneur"
class Sundar:
    def __init__(self, name):
        self.name = name
    def type(self):
    return "CEO"

IndentationError: expected an indented block after function definition on line 9 (4165676531.py, line 10)

In [3]:
person1 = Elon('Elon Musk')
person2 = Sundar('Sundar Pichai')

def print_person_type(person):
    print(f"{person.name} is a {person.type()}")
    
print_person_type(person1)
print_person_type(person2)

NameError: name 'Elon' is not defined

In [21]:


person1 = Elon('Elon Musk')
person2 = Sundar('Sundar Pichai')

def print_person_type(person):
    print(f"{person.name} is a {person.type()}")

print_person_type(person1)
print_person_type(person2)

Elon Musk is a Entrepreneur
Sundar Pichai is a CEO

In [19]:
class Elon:
    def __init__(self, name):
        self.name = name
    def type(self):
        return "Entrepreneur"
class Sundar:
    def __init__(self, name):
        self.name = name
    def type(self):
        return "CEO"

In [31]:
class myClass:
    def my_function(arg1,arg2):
        return arg1 + arg2

result = myClass.my_function(1,2)
print(result)

3

In [41]:
class myclass:
    def my_function(arg1,arg2):
        return arg1+arg2

result = myclass.my_function(1,2)
print(result)

3

In [53]:
class myclass:
    class_variable = 10
    @classmethod
    def my_function(cls, arg1):
        return cls.class_variable + arg1

result = myclass.my_function(5)
print(result)

15

In [49]:
class myclass:
    def __init__(self,value):
        self.value = value

    def my_function(self,arg1):
        return self.value + arg1

instance = myclass(10)

result = instance.my_function(5)
print(result)

15

In [69]:
class myclass:
    def __init__(self, value):
        self._value = value
    
    def _protected_method(self):
        return self._value

obj = myclass(10)
print(obj._value)

10

In [71]:
obj._protected_method()

10

In [75]:
class myclass:
    def __init__(self,value):
        self.__value=value

    def get_value(self):
        return self.__value

obj= myclass(10)
print(obj.get_value())

10

In [78]:
print(obj.__value

SyntaxError: incomplete input (741167606.py, line 2)

In [80]:
print(obj._myclass__value)

10

In [84]:
class myclass:
    def __init__(self,value):
        self.__value =value

    def get_value(self):
        return self.__value

    def set_value(self,value):
        self.__value=value

obj= myclass(10)
print(obj.get_value())
obj.set_value(20)
print(obj.get_value())

10
20

In [88]:
class myclass:
    def __init__(self,value):
        self.__value = value

    @property
    def value(self):
        return self.__value

    @value.setter
    def value(self,value):
        self.__value = value

obj =myclass(10)
print(obj.value)
obj.value = 20
print(obj.value)

10
20