In [1]:
seq = [7,8,9,10,11,12]
for i in seq:
    print(i)

7
8
9
10
11
12

In [2]:
seq = [7,8,9,10,11,12]
for item in seq:
    print(item)

7
8
9
10
11
12

In [4]:
fruits=['apple','banana','mango','orange']
for x in fruits:
    print(x)

apple
banana
mango
orange

In [5]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i,end='')

123456

In [7]:
a="123"
for char in a:
    print(char,end='')

123

In [8]:
for x in range(10):
    print(x,"pratik")

0 pratik
1 pratik
2 pratik
3 pratik
4 pratik
5 pratik
6 pratik
7 pratik
8 pratik
9 pratik

In [9]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [11]:
for i in range(30,45):
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [13]:
for i in range(100,1,-2):
    print(i,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [14]:
for i in range(12,50,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [15]:
items = ['item1','item2','item3','item4']
for i in range(len(items)):
    print("item at index",i,"is:",items[i])

item at index 0 is: item1
item at index 1 is: item2
item at index 2 is: item3
item at index 3 is: item4

In [16]:
a=[1,2,3,4]
sum1=0
for i in a:
    sum1=sum1+i

print("sum:",sum1)

sum: 10

In [17]:
a=[1,2,3,4]
sum1=0
for i in a:
    sum1=sum1+i
    print("after",i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10

In [18]:
genre=['pop','rock','jazz','sapna']
for i in range(1):
    print("I like",genre[i])

I like pop

In [1]:
lb=int(input('enter lower bound values:'))
ub=int(input('enter upper bound values:'))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=',')

enter lower bound values: 50
enter upper bound values: 90

50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,

In [2]:
n=int (input("enter the number:"))
for i in range(n):
    print("*",end=" ")

enter the number: 6

* * * * * *

In [5]:
lb=int(input())
ub=int(input())
s=0

for i in range(lb,ub+1):
    if(i%2==0):
        s=s+i
        print(i,end=' ')

print('\nsum is',s)

 6
 36

6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36
sum is 336

In [7]:
for num in range(1,101):
    if num%6==0 and num%8!=0:
        print(num)

6
12
18
30
36
42
54
60
66
78
84
90

In [8]:
a=int(input('enter multiplication table:'))
for i in range(1,11):
    print(a,'*',i,'=',a*1)

enter multiplication table: 23

23 * 1 = 23
23 * 2 = 23
23 * 3 = 23
23 * 4 = 23
23 * 5 = 23
23 * 6 = 23
23 * 7 = 23
23 * 8 = 23
23 * 9 = 23
23 * 10 = 23

In [9]:
n=int(input("enter the number:"))
for i in range(n):
    for j in range(n+1,):
        print("*",end=" ")

enter the number: 8

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [13]:
cubes=[]
for i in range(20):
    cubes.append(i**3)

print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [1]:
squares =[i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
list=[-2,-4,-5,-8,3,8,7]
absv=[abs(x) for x in list]
absv

[2, 4, 5, 8, 3, 8, 7]

In [4]:
list=[-2,-4,-5,-8,3,8,7]
both=[]
for x in list:
    if x<0:
        both.append(abs(x))
    else:
        both.append(x**3)
both

[2, 4, 5, 8, 27, 512, 343]

In [5]:
[abs(x) if x<0 else x**3 for x in list]

[2, 4, 5, 8, 27, 512, 343]

In [6]:
movies = ['Departed', 'Titanic', 'Aviator', 'Avatar', '2012']
a=set() 
for i in movies:
    a.add(len(i)) 
a

{4, 6, 7, 8}

In [7]:
movies = ['Departed', 'Titanic', 'Aviator', 'Avatar', '2012'] 
{len(i) for i in movies}

{4, 6, 7, 8}

In [9]:
movies={'Departed':9, 'Titanic':9.2, 'Aviator': 8.7, 'Avatar': 9.1, '2012':8.6}
{movie:rating for movie, rating in enumerate (movies)}

{0: 'Departed', 1: 'Titanic', 2: 'Aviator', 3: 'Avatar', 4: '2012'}

In [15]:
numbers = [1, 2, 3, 4]
for num in numbers:
    if num == 4:
        break
        print(num)

In [17]:
numbers = [1, 2, 3, 4]

for num in numbers:
    if num %2==0:
        continue
        print(num)

In [18]:
number=[1,2,3,4]
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
4
no item left in the list

In [19]:
numbers=[1,2,3,4]
for item in numbers:
    if item%2==0:
        print(item)

2
4

In [20]:
numbers=[1,2,3,4]
for item in numbers:
    if item%2==0:
        print(item)
        break

2

In [21]:
x=0
while x<6:
    x=x+1
    print(x)

1
2
3
4
5
6

In [22]:
x=0
while x<6:
    print("x is ",x)
    x=x+1

x is  0
x is  1
x is  2
x is  3
x is  4
x is  5

In [23]:
x=8
while x>1:
    print("x is {}".format(x))
    x-=1

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2

In [25]:
i=100
s=20
while i<500:
    s=s+i
    i=i+100
print(s)

1020

In [26]:
i=0
s=0
while (i<+5):
    s=s+i
    i+=2
print(s)

6

In [28]:
x=0
print(x)
while x<5:
    x=x+1
print(x)

0
5

In [29]:
i=0
s=0
while (i<=10):
    s=s+i
    i+=2
print(s)

30

In [30]:
i=0
while(i<=100):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [31]:
n=int(input("Enter n:"))
sum=0
i=1
while i <=n:
    sum=sum+i
    i=i+1
print("the sum is",sum)

Enter n: 9

the sum is 45

In [32]:
s=0
while True:
    a=input('enter a value:')
    if (a=='done'):
        break
    s=s+int(a)
print(s)

enter a value: 85
enter a value: 60
enter a value: done

145

In [46]:
x = 8 
while x > 1:
    print("x is {}".format(x))
    x -= 1
    if x==9:
        break
else:
    print("x is no longer greater than 1")

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater than 1

In [47]:
x=0
while x<8:
    print("x is {}".format(x))
    x+=1
else:
    print("x is no longer <8")

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is no longer <8

In [48]:
number =[1,2,3,4,5,6,7]
index=0
while index < len(number):
    print(number[index])
    index+=1
else:
    print("no item left in list")

1
2
3
4
5
6
7
no item left in list

In [50]:
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
    print(fact)

 5

5
20
60
120
120

In [51]:
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
print(fact)

 5

120

In [52]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact=fact*i
    print("after",i,"iteration the factorial value is:",fact)

 9

after 1 iteration the factorial value is: 1
after 2 iteration the factorial value is: 2
after 3 iteration the factorial value is: 6
after 4 iteration the factorial value is: 24
after 5 iteration the factorial value is: 120
after 6 iteration the factorial value is: 720
after 7 iteration the factorial value is: 5040
after 8 iteration the factorial value is: 40320
after 9 iteration the factorial value is: 362880