In [1]:
print(1)

1

print ("pratik")

In [5]:
print ("pratik")

pratik

In [19]:
print ("yo yo")

yo yo

In [9]:
b=10
print(
    b)

10

In [11]:
pratik=30
print(pratik
     )

30

In [13]:
print("pratik")

pratik

In [50]:
print("aryan")

aryan

In [17]:
a=11
b=12
c=13
d=14
print(a,b,c,d)

11 12 13 14

In [21]:
a=11
print(a)
type(a)

11

int

In [23]:
a=11
b=12
c=13
d=14
print(a,b,c,d,sep=":")

11:12:13:14

In [25]:
a=11
c=13
d=14
print(a,b,c,d)

11 12 13 14

In [27]:
a=11
a=11
b=12
print(a+b)

23

In [33]:
print(11
    +12)
c=a+b
print(c)

23
23

In [35]:
a='11'
print(a)
type(a)

11

str

# print function in python0
a=11
b=12

In [41]:
a=11
print("the value of a:",a)

the value of a: 11

In [61]:
print("aryrn")

aryrn

In [71]:
last_name="aryan"
print(last_name)

aryan

In [77]:
first_name= 'pratik'
last_name= 'aryan'

In [ ]:
first_name = 'Siva' 
last_name = 'ram'

In [81]:
 print("Name", last_name, first_name)

Name aryan pratik

In [83]:
 print("My first name is:", first_name, "and last name is: ", last_name)

My first name is: pratik and last name is:  aryan

In [89]:
 print("My first name is: {} and last name is: {}".format(first_name, last_name 
>
>

SyntaxError: '(' was never closed (3224135726.py, line 1)

In [93]:
#we can use keyword arguments to format the string 
print("my first name is {first}and last name is :{first}"format (last=last_n
                                                                 ame,first-last_name))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1678419835.py, line 2)

In [103]:
print("yoo {name} {greeting} {name}"format(name="prasanta", geeting+"good night"))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3272121375.py, line 1)

In [109]:
 #we can combine positional arguments with keyword arguments
print('The story of {}, {}, and {other}'.format('Bill', 'Manfred', other= 'Georg'))

The story of Bill, Manfred, and Georg

In [107]:
 print("Hello {name} {greeting} {name}".format(name="satish", greeting="Good Mo 
rning"))

SyntaxError: unterminated string literal (detected at line 1) (933836079.py, line 1)

In [119]:
num=11
name='hanuman'
print("my number is :{one} and my name is :{two}"format(one-num, two-name))
print('my number is :{} and my name is :{}'format(num,name))
print("my number is ":, num,"and my name is :",name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (141673584.py, line 3)

In [127]:
num = 12 
name = 'hanuman' 
print('My number is: {one} and my name is: {two}'.format(one=num, two=name))
print('My number is: {} and my name is: {}'.format(num, name)) 
print("My number is: ", num, "and my name is: ", name)

My number is: 12 and my name is: hanuman
My number is: 12 and my name is: hanuman
My number is:  12 and my name is:  hanuman